<section id="hello" class="home bg-mega">
                <div class="overlay"></div>
                <div class="container" >
                    <div class="row">
                        <div class="main_home">
                            <div class="home_text">
                                <h1 class="text-white">NeoTravler!</h1>
                                <h5 class="text-white">Pastikan anda Tersesat direncanakan</h5>
                            </div>

                            <div class="home_btns m-top-40">
                                <a href="" class="btn btn-primary m-top-20">GET STARTED</a>
                                <a href="" class="btn btn-default m-top-20">DOWNLOAD NOW</a>
                            </div>

                        </div>
                    </div><!--End off row-->
                </div><!--End off container -->
            </section>